<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f6437beb-8a8b-4d3e-a004-60dfa6393ec5" Alias="[BlockList] Portfolio Items" Level="1">
  <Info>
    <Name>[BlockList] Portfolio Items</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "15ae6c36-b8d9-4ee8-b1b2-d3c8c506a329",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ title != '' ? title : 'Portfolio Item ' + $index}} {{$settings.hide == '1' ? '[HIDDEN]' : ''}}",
      "settingsElementTypeKey": "7790c8ed-7704-40fa-8de3-771b1487bedd",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>