<?xml version="1.0" encoding="utf-8"?>
<DataType Key="14da4704-6ae6-47ed-b237-09e9f9a82a8c" Alias="[BlockList] Main Content" Level="1">
  <Info>
    <Name>[BlockList] Main Content</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "45137708-9125-41fd-aeb6-ca8db9924ebc",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ 'Portfolio Row ' + $index }} {{$settings.hide == '1' ? '[HIDDEN]' : ''}}",
      "settingsElementTypeKey": "94643002-7c9a-45e0-8098-ffd6d460b0cd",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>