<?xml version="1.0" encoding="utf-8"?>
<DataType Key="10b8905b-99e3-4e79-b237-76a00f85eb21" Alias="[Dropdown] Colours" Level="1">
  <Info>
    <Name>[Dropdown] Colours</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Red"
    },
    {
      "id": 2,
      "value": "Green"
    },
    {
      "id": 3,
      "value": "Blue"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>