<?xml version="1.0" encoding="utf-8"?>
<Media Key="589e783a-d9f4-4075-a1e6-ad1b33e5d924" Alias="Cake" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Cake</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2022-10-12T09:32:48</CreateDate>
    <NodeName Default="Cake" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/hr2j2whu/cake.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>