<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="de26f585-5ada-4865-9815-2671babe4ae0" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="50ed118a-38c8-4548-a1c3-cade9fdfd265">basicContentProperty</Composition>
      <Composition Key="99ef61f3-cb9b-4b8b-a5c8-fc15998a3721">headerProperties</Composition>
      <Composition Key="45b7e6d8-3154-47df-8040-8a4b68bc3351">mainNavigationProperties</Composition>
    </Compositions>
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="4ad0a1ed-1818-4006-ac68-018cee12d72c">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>