<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="15ae6c36-b8d9-4ee8-b1b2-d3c8c506a329" Alias="portfolioItem" Level="4">
  <Info>
    <Name>Portfolio Item</Name>
    <Icon>icon-vcard color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Elements/Content+Blocks/Content+Models</Folder>
    <Compositions>
      <Composition Key="9755749f-0fa2-4a57-bf0e-ec9dcc11a414">descriptionProperty</Composition>
      <Composition Key="e86061fb-3403-4c26-82b9-0eaf96ad8b10">imageProperty</Composition>
      <Composition Key="5b16b70a-7530-4885-8252-8ba04e8e204d">titleProperty</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>